/* FiraCode Nerd Font Mono, bundled so the default font works everywhere.
   SIL Open Font License 1.1, see public/fonts/LICENSE-FiraCode-NerdFont.txt. */

@font-face {
  font-family: "FiraCode Nerd Font Mono";
  src: url("/fonts/FiraCodeNerdFontMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "FiraCode Nerd Font Mono";
  src: url("/fonts/FiraCodeNerdFontMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "FiraCode Nerd Font Mono";
  src: url("/fonts/FiraCodeNerdFontMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "FiraCode Nerd Font Mono";
  src: url("/fonts/FiraCodeNerdFontMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "FiraCode Nerd Font Mono";
  src: url("/fonts/FiraCodeNerdFontMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
